
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="logo.png" alt="Your Energy" class="logo">
                </div>
                <div class="col-12 col-md-4">
                    <ul class="social-media-links">
                        <li><a href="https://www.facebook.com/yourenergy"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/yourenergy"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/yourenergy"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <p class="company-slogan">Transforming your body shape with us.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="Enter your email address">
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
