<section class="hero-background">
  <div class="container hero-container">
    <div class="hero-bigbox">
      <div class="hero-box1">
        <div class="first-section">
          <h1 class="hero-header">
            <svg class="hero-star-icon" width="60" height="60">
              <use href="/img/icons.svg#big-star"></use>
            </svg>
            <span class="hero-span-uppercase">g</span
            ><span class="hero-span-lowercase">et</span>
            <span class="hero-span-uppercase hero-span-italic">b</span
            ><span class="hero-span-italic">ody</span> in shape,
            <span class="hero-span-uppercase hero-span">s</span>tay healthy
          </h1>

          <div class="hero-subtitle">
            <div class="hero-p">
              Transform your physique and embrace a healthier lifestyle with our
              comprehensive fitness and nutrition support.
            </div>
          </div>
        </div>
      </div>
      <div class="hero-box-rightside">
      <div class="hero-box-image">
      </div>
      <div class="hero-tags">
        <button type="button" class="hero-button-filters button-filter">#Sport</button>
        <button type="button" class="hero-button-filters button-filter hero-healthy">#Healthy</button>
        <button type="button" class="hero-button-filters button-filter hero-workout">#Workout</button>
        <button type="button" class="hero-button-filters button-filter">#Diet</button>
      </div>
      </div>
</div>
      <div class="hero-box2">
        <div class="hero-image"></div>

        <!-- <div class="hero-image">
          <picture class="hero-image2">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/hero/hero-image-desktop-optim.png    1x,
                ./img/hero/hero-image-desktop-optim@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/hero-image-tablet-optim.png    1x,
                ./img/hero/hero-image-tablet-optim@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/hero-image-optim_old.png 1x,
                ./img/hero/hero-image-optim@2x.png 2x
              "
            />
            <img
              src="./img/hero/hero-image-optim_old.png"
              alt="womans"
              class="image-rounded"
              width="1200px"
              height="800px"
            />
          </picture>
        </div> -->
      </div>
      <div class="hero-filters-wrapper">
        <div class="hero-filters">
          <button type="button" class="hero-button-filters button-filter">#Sport</button>
          <button type="button" class="hero-button-filters button-filter hero-healthy">#Healthy</button>
          <button type="button" class="hero-button-filters button-filter hero-workout">#Workout</button>
          <button type="button" class="hero-button-filters button-filter">#Diet</button>
        </div>
      </div>
    
  </div>
</section>
