
<section class="modal-section is-hidden">

<div class="modal-window">
    <button type="button" class="button-close" data-modal-close>
        <svg  class="modal-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-x"></use>
        </svg>
    </button>
<div class="img-and-text">
<img class="img-modal" src="">
<div class="text-info">
<h2 class="name-exercies">Stationary bike walk</h2>

<div class="rating">
    <div class="rating_value">3.2</div>
<div class="stars">
    <svg class="star" width="16" height="16">
        <use href="../img/icons.svg#icon-star"></use>
    </svg>
    <svg class="star" width="16" height="16">
        <use href="../img/icons.svg#icon-star"></use>
    </svg>
    <svg class="star" width="16" height="16">
        <use href="../img/icons.svg#icon-star"></use>
    </svg>
    <svg class="star" width="16" height="16">
        <use href="../img/icons.svg#icon-star"></use>
    </svg>
    <svg class="star" width="16" height="16">
        <use href="../img/icons.svg#icon-star"></use>
    </svg>
    
</div>


</div>
<div class="info-of-exercises">
<ul class="info-list">
    <li class="options-info"> 
        <span class="name-info">Target</span>
        <p class="info target">Cardiovascular system</p>
    </li>
    <li class="options-info">
    <span class="name-info">Body Part</span>
        <p class="info body">Cardio</p>
    </li >
    <li class="options-info">
        <span class="name-info">Equipment</span>
        <p class="info equipment">Leverage machine</p>
    </li>
    <li class="options-info">
        <span class="name-info">Popular</span>
        <p class="info popular">0</p>
    </li>
</ul>
</div>
<article class="description-of-exercises">
    While not a muscle, this system is essential for endurance training. Aerobic exercises like running, cycling, and
    swimming improve cardiovascular health
</article>
</div>
</div>
<button class="btn-add-to-favorites" type="button">Add to favorites
    <svg class="star" width="16" height="16">
        <use href="../img/icons.svg#icon-heart"></use>
    </svg>
</button>
</div>
</section>