<div class="quote-container">
  <div class="quote-item quote-item-favorites">
    <div class="js-quote-container js-quote-container-favorites">
      <h3 class="quote-title">Quote of the day</h3>
    </div>
    <div class="quote-static-item-favorites">
      <svg class="quote-icon" width="20" height="20">
        <use href="/img/icons.svg#icon-icon-quote"></use>
      </svg>
      <h3 class="quote-static-title quote-static-title-favorites">110 min</h3>
      <p class="quote-static-title-sec quote-static-title-sec-favorites">
        Daily norm of sports
      </p>
      <!-- <div class="quote-static-text"></div> -->
    </div>
    <div class="quote-img-item-favorites"></div>
  </div>
</div>
