<div class="quote-container">
  <div class="quote-list list">
    <div class="js-quote-item">
      <h3 class="js-quote-title">Quote of the day</h3>
      <div class="js-quote-text-container">
        <p class="js-quote-text"></p>
      </div>
      <p class="js-quote-autor"></p>
    </div>
    <div class="quote-img-item"></div>
    <div class="quote-static-item">
      <h3 class="quote-title">110 min</h3>
      <p class="quote-title-sec">Daily norm of sports</p>
      <!-- <div class="quote-text-container"> -->
      <div class="quote-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
