div.tui-pagination {
  margin-bottom: 80px;
  margin-top: 20px;
}

.exercises-title {
  font-family: Neue Montreal, sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
}

.exercises-span-title {
  margin-bottom: 20px;
  color: var(--body-text-color);
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.56px;
}
body.dark_mode .exercises-span-title{
  color: var(--background-color);
}

body.dark_mode .exercises-part-title{
  color: #7e7e7e
}

body.dark_mode .exercises-input{
  color: #f4f4f4;
}

body.dark_mode .exercises-search{
  fill:#f4f4f4
}

.exercises-part-title {
  color: rgba(36, 36, 36, 0.5);
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.48px;
}

.title-search-container {
  margin-bottom: 20px;
}

/* !-----------------------------------------------------FORM----------------------------------------------- */
.exercises-form {
  display: none;
  position: relative;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.exercises-input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #242424;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--body-text-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4;
  background-color: transparent;
}
.exercises-btn-form {
  position: absolute;
  right: 14px;
  top: 15px;
  height: 18px;
  width: 18px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.exercises-search {
  height: 18px;
  width: 18px;
}
/*! ----------------------------------------------LIST and 3 button------------------------------------------- */
.exercises-list {
  display: flex;
  gap: 20px;
}

.exercises-btn {
  display: block;
  border: none;
  background-color: transparent;
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
}

body.dark_mode .exercises-btn {
  color: var(--background-color);
}
.current {
  position: relative;
  color: var(--body-text-color);
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 4px;
  background-color: var(--body-text-color);
  border-radius: 2px;
}

body.dark_mode .current::after {
  background-color: var(--background-color);
}

/* !-------------------------------------------------------For Card with PHOTO------------------------------------ */
.js-card-photo-item {
  width: 280px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.js-card-photo-item:not(:last-child) {
  margin-bottom: 20px;
}

.js-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Neue Montreal;
  margin-bottom: 2px;
  text-align: center;
}

.js-title-card-photo {
  color: #f4f4f4;
  text-align: center;
  font-size: 20px;
  font-family: Neue Montreal, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.js-text-card-photo {
  color: rgba(244, 244, 244, 0.4);
  font-family: Neue Montreal, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
/* !-----------------------------------------------For Card with INFORMATION----------------------------------------*/

.card-info-item-ex {
  position: relative;

  width: 280px;
  padding: 16px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-workout-rating {
  display: flex;
  align-items: center;
}
.link-workout {
  font-family: Neue Montreal, sans-serif;
  text-transform: uppercase;
  padding: 5px 7.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  border-radius: 15px;
  border: 1px solid #242424;
  margin-right: 16px;
}
.js-text-rating {
  color: #242424;
  font-family: Neue Montreal, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: flex-end;
  gap: 2px;
}
.icon-star {
  fill: #eea10c;
}

.btn-start {
  font-family: Neue Montreal, sans-serif;
  position: absolute;
  background-color: inherit;
  right: 16px;
  top: 16px;
  border: none;
  display: flex;
  gap: 8px;
  height: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
}
.exercise-title {
  font-family: Neue Montreal, sans-serif;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 27px;
  margin-bottom: 16px;
  color: #242424;
}

.exercise-title .ex-title-span {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-icon-running {
  background-color: black;
  fill: #fff;
  border-radius: 50%;
}
.js-exercise-list {
  display: flex;
  gap: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.exercise-list-text {
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(36, 36, 36, 0.4);
}

.label-width-bodypart {
  width: 105px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-text-span {
  color: #242424;
  font-size: 12px;
  line-height: 1.5;
}


/* !------------------------svg------------------------------------------ */

.ex-icon-star{
  position: relative;
  width: 18px;
  height: 18px;
  
}

.ex-icon-star::after{
  content: '';
  background-image: url(../img/favorites/icon-star.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
background-position: center;
background-color: inherit;
background-repeat: no-repeat;
}

.ex-icon-arrow{
  position: relative;
  width: 18px;
  height: 18px;
}

.ex-icon-arrow::after{
  content: '';
  background-image: url(../img/favorites/icon-arrow.svg);
  position: absolute;
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
background-position: center;
background-color: inherit;
background-repeat: no-repeat;
}

.ex-icon-running{
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #242424;
  border-radius: 50%;
}

.ex-icon-running::after{
  content: '';
  background-image: url(../img/favorites/icon-running-stick.svg);
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
  background-position: center;
  background-color: inherit;
  background-repeat: no-repeat;
}
/* !------------MEDIA---------------MEDIA-----------MEDIA----------------MEDIA------------------MEDIA----------------- */

@media screen and (min-width: 375px) {
  .exercises-btn {
    font-size: 16px;
    line-height: 1.5;
  }
  .js-card-photo-item {
    width: 335px;
    height: 225px;
  }
  .exercises-form{
    width: 335px;
  }
  .card-info-item-ex {
    width: 100%;
    height: 141px;
  }
  .exercise-title .ex-title-span {
    width: 260px;
  }
  .label-width-bodypart {
    width: 100%;
  }
  .label-width-target {
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 768px) {
  div.tui-pagination {
    margin-bottom: 64px;
    margin-top: 32px;
  }

  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    height: 100%;
  }
  .exercises-title {
    margin-bottom: 32px;
  }

  .exercises-list {
    margin: 0;
  }
  .exercises-form {
    margin: 0;
    height: 48px;
    width: 271px;
  }
  .js-list-cards-photo {
    display: flex;
    column-gap: 15px;
    row-gap: 32px;
    flex-wrap: wrap;
  }

  .js-card-photo-item {
    width: calc((100% - 30px) / 3);
    margin: 0;
  }

  .js-title-card-photo {
    font-size: 24px;
  }
  .js-card-photo-item:not(:last-child) {
    margin-bottom: 0;
  }
  .js-list-cards-information {
    display: flex;
    column-gap: 16px;
    row-gap: 32px;
    flex-wrap: wrap;
  }

  .card-info-item-ex {
    width: calc((100% - 16px) / 2);
    margin: 0;
  }
  .label-width-target {
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (min-width: 1440px) {
  .title-search-container {
    display: flex;
    justify-content: space-between;
  }
  .search-container {
    gap: 32px;
    align-items: center;
  }

  .info-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 32px;
  }
  .container-cards {
    width: 100%;
  }
  .js-card-photo-item {
    height: 242px;
  }
}
