.hero {
  padding-top: 64px;
  padding-bottom: 32px;
}
.hero-container {
  padding-top: 80px;
  position: relative;
  padding-bottom: 32px;
}

.hero-header {
  color: var(--body-text-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 14px;
}

.hero-p {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;

  line-height: 24px;
  letter-spacing: -0.36px;
  padding-bottom: 20px;
  width: 335px;}

.hero-span-italic {
  font-style: italic;
}
.hero-span-uppercase {
  text-transform: uppercase;
}
.hero-span-lowercase {
  text-transform: lowercase;
}

.hero-star-icon {
  gap: 5px;
  width: 38px;
  height: 38px;
}

.hero-image {

  background-image: url('../img/hero/hero-image-optim.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 332px;
  height: 509px;
  border-radius: 20px;
  padding-bottom: 35px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-image {
    background-image: url('../img/hero/hero-image-optim@2x.png');
  }

}
.image-rounded {
  border-radius: 60px;


}

.button-filter {
  height: 26px;
  padding: 4px 16px;
  border-radius: 30px;
  border-color: var(--hero-btn-hover-color);
  color: var(--hero-btn-hover-color);
  background-color: transparent;
  border: 1px solid var(--body-text-color);
  font-size: 14px;
  font-weight: 500;
}

.hero-filters-wrapper {
  display: block;
  margin-left: auto;
  max-width: 250px;
  padding: 30px;
}

.hero-filters {
  display: flex;
  justify-content: center;
  gap: 10px 6px;
}

.button-filter:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.button-filter:first-child {
  background-color: var(--white-color);
  color: var(--dark-color);
}
/* HERO-TABLET */
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 100px;
    position: relative;
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-star-icon {
    width: 60px;
    height: 60px;
  }

  .hero-p {
    width: 528px;
  }
  .hero-image {
    display: flex;
    background-image: url('../img/hero/hero-image-tablet-optim.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 768px;
    height: 773px;
    border-radius: 20px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-image {
      background-image: url('../img/hero/hero-image-tablet-optim@2x.png');
    }

  }
.hero-box1{
  width: 594px;
}
  .hero-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-header {
    font-size: 74px;
    font-weight: 400;

    line-height: 1.18;

  }
  .shop-now-button {
    width: 114px;
    height: 114px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .button-filter {
    padding: 4px 16px;
    font-size: 16px;
    height: 32px;
    cursor: pointer;
  }

  .hero-filters-wrapper {
    max-width: 250px;
  }

  .hero-filters {
    gap: 10px 8px;
  }
}
/* HERO-DESKTOP*/
@media screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 96px;
    position: relative;
    padding-bottom: 32px;
    max-width: 1440px;
    display: block;
  }
  .hero-header{
    width: 594px;
    font-size: 74px;
  }
  .hero-image{
    width: 1394px;
  }
  .hero {
    padding-top: 134px;
  }
  .hero-p {
    width: 491px;
  }

  .hero-box-image {
    background-image: url('../img/hero/hero-box-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 256px;
    height: 171px;
    border-radius: 20px;

  }
  .hero-image {
    background-image: url('../img/hero/hero-image-desktop-optim.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1394px;
    height: 929px;
    border-radius: 20px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-image {
      background-image: url('../img/hero/hero-image-desktop-optim@2x.png');
    }
  }
  .hero-header {
    font-size: 74px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -1.48px;

  }
  .button-filter {
    padding: 12px 32px;
    font-size: 16px;
    line-height: 1.16px;
    letter-spacing: -0.48px;
    gap: 10px;
  }

  .hero-filters-wrapper {
    display: flex;
    max-width: 182px;
    margin-top: 64px;
  }
  .hero-box1 {
    width: 672px;
  }
  .hero-box2 {

    position: relative;
  }

  .hero-box-image {
    display: flex;
    background-image: url('../img/hero/hero-box-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 256px;
    height: 171px;
    border-radius: 20px;

  }
  .hero-subtitle{
    font-size: 18px;
    line-height: 1.33; 
letter-spacing: -0.36px;
  }
}
