.hero {
  padding-top: 64px;
  padding-bottom: 32px;
}
.hero-container {
  padding-top: 48px;
  position: relative;
  padding-bottom: 32px;
}

.hero-header {
  color: var(--white-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-p {
  color: var(--white-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  padding-bottom: 20px;
}

.hero-span {
  font-style: italic;
  color: var(--light-green-color);
}

.hero-image {
  padding-bottom: 16px;
  border-radius: 60%;
}

.image-rounded {
  border-radius: 60px;
}

.button-filter {
  padding: 8px 14px;
  border-radius: 1000px;
  border-color: var(--hero-btn-hover-color);
  color: var(--hero-btn-hover-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-filters-wrapper {
  display: block;
  margin-left: auto;
  max-width: 180px;
}

.hero-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px 4px;
}

.button-filter:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.button-filter:first-child {
  background-color: var(--white-color);
  color: var(--dark-color);
}
/* HERO-TABLET */
@media screen and (min-width: 768px) {
 

  .hero-container {
    padding-top: 66px;
    position: relative;
    max-width: 768px;
  }
  .hero-p {
    width: 490px;
  }
  .hero-image {
    display: block;
    width: 466px;
    align-items: center;
  }
  .hero-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatars {
    margin-bottom: 16px;
  }
  .avatar {
    width: 54px;
    height: 54px;
  }

  .hero-header {
    font-size: 54px;
    font-weight: 500;
    line-height: 1.18;
  }
  .shop-now-button {
    width: 114px;
    height: 114px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .button-filter {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
  }

  .hero-filters-wrapper {
    max-width: 250px;
  }

  .last-avatar-text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  .last-avatar-text2 {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
  .avatar:not(:first-child) {
    margin-left: -19px;
  }
}
/* HERO-DESKTOP*/
@media screen and (min-width: 1440px) {
  
  .hero-container {
    padding-top: 133px;
    position: relative;
    padding-bottom: 32px;
    max-width: 1440px;
  }

  .hero {
    padding-top: 134px;
  }
  .hero-p {
    width: 491px;
  }
  .hero-image {
    width: 515px;
    height: 423px;
  }
  .avatars {
    padding-bottom: 16px;
  }
  .avatar {
    width: 66px;
    height: 66px;
  }
  .avatar:not(:first-child) {
    margin-left: -25px;
  }
  .hero-header {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -2.56px;
  }
  .shop-now-button {
    width: 132px;
    height: 132px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -1.12px;
    margin-bottom: 8px;
  }
  .button-filter {
    padding: 12px 32px;
    font-size: 12px;
    line-height: 1.16px;
    letter-spacing: -0.48px;
    height: 38px;
  }

  .hero-filters-wrapper {
    max-width: 265px;
    margin-top: 64px;
  }

  .last-avatar-text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.96px;
    margin-top: 16px;
    margin-bottom: 2px;
  }
  .last-avatar-text2 {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
  }
  .hero-box1 {
    width: 672px;
  }
  .hero-box2 {
    position: absolute;
    top: 133px;
    right: 32px;
  }
}
