.quote-title {
  font-family: Neue Montreal, sans-serif;
  color: var(--background-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 6px;
}
.quote-img-item-favorites {
  min-width: 280px;
}
.js-quote-container::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/quote/icon-comas.svg');
}

.js-quote-container::before {
  content: '';
  position: absolute;
  left: 20px;
  width: 34px;
  height: 32px;
  display: flex;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url('../img/quote/icon-run.svg');
}

.js-quote-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 72px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  background-color: var(--body-text-color);
}

.js-quote-text {
  font-family: Neue Montreal, sans-serif;
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  overflow: hidden;
  height: 88px;
  margin-bottom: 16px;
}
.js-quote-autor {
  font-family: Neue Montreal, sans-serif;
  color: var(--background-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.quote-img-item {
  background-image: url('../img/quote/quote-mobile-exer-1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 242px;
  border-radius: 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .quote-img-item {
    background-image: url('../img/quote/quote-mobile-exer-2x.jpg');
  }
}

.quote-static-item::before {
  content: '';
  position: absolute;
  left: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  background-position: center;
  background-color: var(--body-text-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url('../img/quote/icon-pesos.svg');
}

.quote-static-item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 70px;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  background-color: var(--primary-white-color);
}
.quote-static-title {
  font-family: Neue Montreal, sans-serif;
  color: var(--body-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
.quote-static-title-sec {
  font-family: Neue Montreal, sans-serif;
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 16px;
}

.quote-static-text {
  color: var(--body-text-color);
  overflow: hidden;
  font-family: Neue Montreal, sans-serif;
  height: 105px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  text-overflow: ellipsis;
}
.decor-text {
  white-space: nowrap;
}
.exercises {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .exercises {
    padding-bottom: 100px;
  }

  .quote-item {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 32px;
  }
  .container-tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .js-quote-container::after {
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
  }

  .js-quote-container::before {
    left: 40px;
  }

  .js-quote-container {
    padding: 40px 40px 40px 90px;
    margin-bottom: 0;
  }
  .quote-title {
    font-size: 24px;
    line-height: 1.33;
  }
  .js-quote-text {
    overflow: hidden;
    width: 270px;
    margin-bottom: 18px;
  }
  .js-quote-autor {
    font-size: 16px;
  }

  .quote-img-item {
    background-image: url('../img/quote/quote-tablet-exer-1x.jpg');
    width: 288px;
    height: 249px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-img-item {
      background-image: url('../img/quote/quote-tablet-exer-2x.jpg');
    }
  }
  .quote-static-item {
    padding: 40px 40px 40px 90px;
    width: 400px;
  }
  .quote-static-title {
    font-family: Neue Montreal, sans-serif;
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 6px;
  }
  .quote-static-text {
    width: 270px;
  }
  .quote-static-item::before {
    left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-item {
    flex-direction: column;
    gap: 32px;
  }

  .container-tablet {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
  }
  .js-quote-container {
    transition: scale 300ms ease-in-out;
  }
  .js-quote-container:hover {
    scale: 1.03;
  }

  .js-quote-text {
    width: 314px;
  }
  .quote-img-item {
    background-image: url('../img/quote/quote-desctop-exer-1x.jpg');
    width: 444px;
    height: 242px;
    transition: scale 300ms ease-in-out;
  }
  .quote-img-item:hover {
    scale: 1.03;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-img-item {
      background-image: url('../img/quote/quote-desctop-exer-2x.jpg');
    }
  }
  .quote-static-item {
    transition: scale 300ms ease-in-out;
  }
  .quote-static-item:hover {
    scale: 1.03;
  }

  .quote-static-text {
    width: 314px;
    height: 163px;
  }
  .decor-text {
    white-space: normal;
  }
}

/* ==========--------FAVORITES================== */
.quote-item-favorites {
  margin-bottom: 40px;
}

.quote-static-item-favorites {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--primary-white-color);
  margin-bottom: 20px;
  padding: 20px 20px 20px 70px;
}

.quote-icon {
  margin-bottom: 15px;
}
.quote-static-title-favorites {
  margin-bottom: 6px;
}
.quote-static-title-sec-favorites {
  margin-bottom: 0;
}
.quote-img-item-favorites {
  background-image: url('../img/quote/quote-mobile-favorites-1x.jpg');
  height: 119px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .quote-img-item-favorites {
    background-image: url('../img/quote/quote-mobile-favorites-2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .quote-item-favorites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .js-quote-container-favorites {
    width: 100%;
    padding: 40px 40px 40px 90px;
  }
  .favorites-desctop {
    display: flex;
    gap: 16px;
  }

  .quote-static-item-favorites {
    padding: 25px 200px 25px 25px;
  }
  .quote-img-item-favorites {
    background-image: url('../img/quote/quote-tablet-favorites-1x.jpg');
    height: 141px;
    width: 335px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-img-item-favorites {
      background-image: url('../img/quote/quote-tablet-favorites-2x.jpg');
    }
  }
}
@media screen and (min-width: 1440px) {
  .quote-img-item-favorites {
    background-image: url('../img/quote/quote-desctop-favorites-1x.jpg');
    width: 239px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-img-item-favorites {
      background-image: url('../img/quote/quote-desctop-favorites-2x.jpg');
    }
  }

  .quote-static-item-favorites {
    width: 239px;
    height: 141px;
  }
  .quote-static-item-favorites {
    margin-right: 16px;
    padding-right: 10px;
  }
  .quote-static-item{
    width: 444px;
  }
  .quote-item-favorites{
    width: 494px;
  }
  .favorites-desctop{
    width: 494px;
  }
}
