@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./body_parth.css');
@import url('./footer.css');
@import url('./favorites.css');
@import url('./modal.css');
@import url('./extra.css');

:root {
  --primary-grey-color: #C6CDD1;
  --primary-white-color: #ffffff;
  --background-color:  #F4F4F4;
  --body-text-color: #242424;
}
